<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../angular.js"></script>
    <link href="../bootstrap.css" rel="stylesheet">
</head>
<body ng-app="eventHandlers" ng-controller="EventhandlersCtrl">

    <ul>
        <li ng-repeat="item in items" ng-click="logPosition(item, $event)">
            {{item}}
        </li>
    </ul>
    <script>
        angular.module('eventHandlers', [])
        .controller('EventhandlersCtrl', function ($scope) {

            $scope.items = ['foo', 'bar', 'baz'];

            $scope.logPosition = function (item, $event) {
              console.log(item + ' was clicked at: ' + $event.clientX + ',' + $event.clientY);
            };
        })
</script>
</body>
</html>
